.home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;
}

.home .home-text{
    max-width: 37rem;
}

.home .home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}

.home .home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home .home-text p{
    margin-bottom: 4rem;
}

.home .home-btn{
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.5s;
}

.home .home-btn:hover{
    background: #fc4c35;
    
}

.home img{
    width: 100%;
}

@media (max-width: 785px){
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .home-text .text-h4{
        font-size: 15px;
    }

    .home .home-text .text-h1{
        font-size: 2.5rem;
        line-height: 2.8rem;
        text-transform: capitalize;
    }

    .home .home-text p{
        font-size: 15px;
    }

    .home img{
        width: 125%;
    }
}